@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$theme-colors: (
    "primary": rgb(81, 32, 216),
    "secondary": teal
);

*{
  margin: 0px;
  font-family: Nunito;
}

.btn{
  border-radius: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.outline-none:focus{
  outline: none;
}
.card{
  border: 0px;
  border-radius: 10px;
  box-shadow: 1px 3px 15px -2px rgba(0,0,0,0.29);
  -webkit-box-shadow: 1px 3px 15px -2px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 3px 15px -2px rgba(0,0,0,0.10);
}

@import url("https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css");